<div class="container mx-auto flex justify-center mt-5 h-screen">
  <%= form_with(model: @product, url: admin_products_path, local: true) do |form| %>
    <% if @product.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
        <h2 class="text-xl font-semibold"><%= pluralize(@product.errors.count, 'error') %> prohibited this product from being saved:</h2>

        <ul class="mt-2 list-disc list-inside">
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="grid grid-cols-2 gap-4 mb-4">
      <div>
        <%= form.label :name, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.text_field :name, class: 'form-input' %>
      </div>

      <div>
        <%= form.label :description, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.text_area :description, class: 'form-input' %>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-4">
      <div>
        <%= form.label :price, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.number_field :price, class: 'form-input' %>
      </div>

      <div>
        <%= form.label :qty, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= form.number_field :qty, class: 'form-input' %>
      </div>
    </div>

    <div class="mb-4">
      <%= form.label :image_url, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.text_field :image_url, class: 'form-input' %>
    </div>

    <div class="mb-4">
      <%= form.label :vendor_id, class: 'block text-gray-700 text-sm font-bold mb-2' %>
      <%= form.collection_select :vendor_id, Vendor.all, :id, :name, { prompt: 'Select Vendor' }, class: 'form-select' %>
    </div>

    <div class="mb-4">
      <%= form.submit 'Save', class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    </div>

    <div class="mb-4">
    <%= link_to 'Back', admin_products_path, class: 'bg-amber-100 text-black p-2 rounded-lg' %>
  </div>
    
  <% end %>
</div>
